/* CSS Reset  */

body {
    margin: 0px;
    padding: 0px;
    color: azure;
}


/* GRIDS */

.container {
    display: grid;
    /* grid-gap: 1rem; */
    grid-template-areas: 'navbar1 navbar2 ';
    z-index: 1;
}

#navbar1 {
    grid-area: navbar1;
}

#navbar2 {
    grid-area: navbar2;
}


/* .box {
    border: 2px solid red;
} */


/* CSS STYLE  */

#bcimg::before {
    content: "";
    position: absolute;
    background: url("../img/WhatsApp\ Image\ 2021-06-30\ at\ 02.39.36.jpeg") no-repeat center center/cover;
    /* background-color: rgb(198, 209, 97); */
    height: 134%;
    width: 100%;
    z-index: -2;
}

#bcimg {
    height: 744px;
    position: relative;
}


/*Logo Image in here */

#navbar1 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0px;
    color: black;
    /* border: 2px solid black; */
    font-size: 20px;
    z-index: 1;
    font-family: 'Sansita Swashed', cursive;
    height: 200px;
    width: 200px;
}

.image1 {
    height: 100%;
    width: 100%;
    background: url("../img/IMG-20210629-WA0025.jpg") no-repeat center center/cover;
    border-radius: 50%;
}

#navbar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#navbar2 ul li a {
    text-decoration: none;
    margin-right: 40px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 2.3vw;
    z-index: 1;
    color: rgb(188, 231, 131);
    font-family: 'Times New Roman', Times, serif;
}

#navbar2 ul li a:hover {
    border-bottom: 2px solid rgb(14, 246, 6);
    border-left: 2px solid rgb(14, 246, 6);
    /* border-top: 2px solid blanchedalmond; */
    border-radius: 10px;
    /* background-color: rgba(33, 117, 212, 0.438); */
    color: rgb(255, 255, 255);
}

#navbar2 ul li {
    list-style: none;
    /* border: 2px solid red; */
    z-index: 1;
}

#navbar3 {
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    padding-right: 15px;
    z-index: 1;
}

#navbar3 button a {
    text-decoration: none;
}

#button {
    padding: 13px 37px 13px;
    border-radius: 33px;
    border: none;
    background-color: rgba(33, 72, 248, 0.315);
    color: rgb(97, 201, 219);
    z-index: 1;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.6vw;
}

#button a {
    color: rgb(19, 89, 202);
}

#button:hover {
    background-color: transparent;
}

#button a:visited {
    color: rgb(65, 37, 65);
}

#button a:hover,
#button a:active,
#button a:focus {
    color: #0132d3;
}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 318px;
    width: 100%;
}

#section1>div {
    margin: 0px;
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
    width: auto;
    align-items: center;
    text-align: center;
}

#section1>div>h1 {
    text-align: center;
    font-size: 4.90vw;
    margin-top: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: rgb(24, 109, 9);
    /* font-stretch: 100%; */
    font-family: 'Akaya Kanadaka', cursive;
    background-color: #bcf18abd;
    padding-left: 5px;
    padding-right: 5px;
}

#section1>div>h2 {
    text-align: center;
    font-size: 4.90vw;
    margin-top: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-family: 'Akaya Kanadaka', cursive;
    padding-left: 5px;
    padding-right: 5px;
}


/* gradient text  */


/* Style the rainbow text element. */

.rainbow-text {
    /* Create a conic gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient( #CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
    /* Set thee background size and repeat properties. */
    background-size: 57%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-animation-rev 0.5s ease forwards;
    cursor: pointer;
    width: fit-content;
    margin-left: 31.4%;
}


/* Add animation on hover. */

.rainbow-text:hover,
.rainbow-text:active,
.rainbow-text:focus {
    animation: rainbow-text-animation 0.5s ease forwards;
}


/* Move the background and make it larger. */


/* Animation shown when hovering over the text. */

@keyframes rainbow-text-animation {
    0% {
        background-size: 19%;
        background-position: 0 0;
    }
    20% {
        background-size: 77%;
        background-position: 0 1em;
    }
    100% {
        background-size: 260%;
        background-position: -9em 1em;
    }
}


/* Move the background and make it smaller. */


/* Animation shown when entering the page and after the hover animation. */

@keyframes rainbow-text-animation-rev {
    0% {
        background-size: 260%;
        background-position: -9em 1em;
    }
    20% {
        background-size: 77%;
        background-position: 0 1em;
    }
    100% {
        background-size: 19%;
        background-position: 0 0;
    }
}

#section1>div>p {
    text-align: center;
    font-size: 2.5vw;
    padding: 1.4px 8px;
    border-radius: 4px;
    width: fit-content;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
    background-color: #bcf18abd;
    -webkit-text-stroke-width: 2.2px;
    -webkit-text-stroke-color: rgb(20, 139, 13);
}

.firstpara {
    margin-left: 23%;
}

.secondpara {
    margin-left: 42.5%;
}

#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 470px;
    margin-top: 6px;
    font-size: 1.9vw;
    /* background-color: #0705039b; */
}


/* Pics  */

#profilepic {
    margin: 5px 25px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#profilepic img {
    margin: 10px 30px;
    height: 200px;
    width: auto;
    border-radius: 30px;
    border: none;
}

#profilepic p {
    color: rgb(189, 13, 189);
    background-color: azure;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 7px;
    margin-top: 7px;
    border-radius: 30px;
    border: none;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

@media screen and (min-width: 1505px) {
    #bcimg {
        height: 900px;
    }
    #section1 {
        height: 500px;
    }
    #section2 {
        height: 400px;
    }
}

@media screen and (max-width: 995px) {
    #section1>div>h2 {
        font-size: 8vw;
    }
    #section1>div>p {
        margin-top: 20px;
        padding: 0.6px 8px;
    }
    #navbar2 ul li a {
        font-size: 3.4vw;
    }
    #button {
        font-size: 2.2vw;
        padding: 8px 15px 8px;
    }
    #section1>div>p {
        font-size: 4.7vw;
    }
    #section2 {
        margin-top: -70px;
    }
    #profilepic {
        margin: 15px 25px;
    }
    #profilepic img {
        margin: 8px 25px;
        height: 160px;
    }
    #profilepic p {
        padding-left: 10px;
        padding-right: 10px;
    }
    #navbar1 {
        height: 120px;
        width: 120px;
    }
    .firstpara {
        margin-left: 0%;
    }
    .secondpara {
        margin-left: 33.8%;
    }
    .rainbow-text {
        margin-left: 20%;
    }
    #bcimg {
        height: 744px;
    }
    #section1 {
        height: 400px;
    }
}

@media screen and (max-width:782px) {
    #section1 {
        height: 500px;
    }
    #section2 {
        height: 270px;
    }
    #section1>div>h1 {
        font-size: 6.90vw;
    }
    #navbar2 ul {
        padding-left: 5px;
    }
    #section1>div>p {
        font-size: 4.8vw;
    }
    #section2>p {
        font-size: 3.9vw;
    }
    /* Animation shown when hovering over the text. */
    @keyframes rainbow-text-animation {
        0% {
            background-size: 34%;
            background-position: 0 0;
        }
        20% {
            background-size: 77%;
            background-position: 0 1em;
        }
        100% {
            background-size: 221%;
            background-position: -9em 1em;
        }
    }
    /* Move the background and make it smaller. */
    /* Animation shown when entering the page and after the hover animation. */
    @keyframes rainbow-text-animation-rev {
        0% {
            background-size: 221%;
            background-position: -9em 1em;
        }
        20% {
            background-size: 77%;
            background-position: 0 1em;
        }
        100% {
            background-size: 34%;
            background-position: 0 0;
        }
    }
    #navbar1 {
        height: 80px;
        width: 80px;
    }
    #navbar3 {
        padding-right: 8px;
    }
    #profilepic {
        margin: 12px 20px;
    }
    #profilepic img {
        margin: 8px 25px;
        height: 130px;
    }
    #profilepic p {
        padding-left: 7px;
        padding-right: 7px;
    }
    .firstpara {
        margin-left: 8.2%;
    }
    .secondpara {
        margin-left: 34.7%;
    }
    .rainbow-text {
        margin-left: 25.8%;
    }
    #bcimg {
        height: 600px;
    }
}

@media screen and (max-width:624px) {
    #navbar1 {
        padding: 13px 6px 13px 6px;
    }
    #navbar2 ul {
        padding: 0px;
    }
    #navbar2 ul li a {
        font-size: 2.9vw;
        margin-right: 10px;
    }
    #button {
        padding: 3px 2px 2px 3px;
        font-size: 2.4vw;
    }
    #section1>div>p {
        font-size: 4.5vw;
        -webkit-text-stroke-width: 1.2px;
    }
    #section2 {
        height: 270px;
    }
    #profilepic {
        margin: 2px 2px;
    }
    #profilepic img {
        margin: 3px 3px;
        height: 140px;
    }
    #profilepic p {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 2.7vw;
    }
    #navbar1 {
        height: 60px;
        width: 60px;
    }
    #navbar3 {
        padding-right: 5px;
    }
    .firstpara {
        margin-left: 9.2%;
    }
    .secondpara {
        margin-left: 36.7%;
    }
    .rainbow-text {
        margin-left: 26.8%;
    }
}

@media screen and (max-width:454px) {
    #bcimg {
        height: 540px;
    }
    #section1 {
        height: 370px;
    }
    #section2 {
        height: 170px;
    }
}